* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  ._links_1s9qv_53 img{
    width: 20px;
  }
._link_1xk2v_27 img {
    width: 25px;
}
